*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
    font-family: 'Hanken Grotesk', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* color */
:root {
	--color-button: #0160ff;
	--color-background-hero: #b3d0e7;
	--color-text-color: #701f2f;
	--color-secondary-color: #000000;
	--color-primary-color: #ffffff;
	--color-square-1: #a2d39b;
	--color-square-2: #61092b;
	--color-square-3: #0093ce;
	--color-square-4: #ff1b1c;
	--color-big-square: #f5f5f5;
	--color-square-5: #d5001f;
	--color-square-6: #b3d0e7;
	--color-square-7: #0e2381;
	--color-square-8: #ffd72f;
	--color-footer-text: #f5fffe;
}
/* general */
a{
    text-decoration: none;
    color: var(--color-secondary-color);
    font-weight: 200;
}
.padding-right{
    padding-right: 30px;
}
.padding-left{
    padding-left: 30px;
}
.padding-top{
    padding-top: 30px;
}
.margin-bottom{
    margin-bottom: 40px;
}
.margin-top{
    margin-top: 150px;
}
.margin-right{
    margin-right: 30px;
}
.d-flex{
    display: flex;
    flex-flow: row nowrap;
}
.flex-start{
    justify-content: space-between;
    align-items: flex-start;
}
.flex-space-between{
    justify-content: space-between;
    align-items: center;
}
.align-center{
    align-items: center;
    align-content: center;
}
.debug{
    border: 1px solid red;
}
.button-blue{
    background-color: var(--color-button);
    color: white;
    padding: 5px 20px;
    display: inline-block;
}
.white-text{
    color: var(--color-primary-color);
}
.container{
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    padding-top: 30px;
}
.container-section{
    max-width: 1000px;
    width: 65%;
    margin: 0 auto;
    margin-top: 150px;
}
h2{
    font-size: 2em;
    padding-bottom: 50px;
}
h3{
    font-size: 1.5em;
}
ul li{
    list-style: none;
    line-height: 20px;
}
img{
    display: block;
    width: 100%;
}
.bold{
    font-weight: 700;
}
.link-border{
    text-decoration: underline;
    color: var(--color-button);
    font-weight: 400;
}
/* header nav */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--color-primary-color);
    z-index: 1000;
    padding: 10px 0px;
    text-align: center;
}

/* header hero */
.hero{
    background-color: var(--color-background-hero);
}
h1{
    font-size: 4em;
    font-weight: 800;
    padding-top: 80px;
}
.text-hero{
    width: 30%;
}
.image-hero{
    width: 70%;
}
.arrow{
    font-size: 50px;
}
.container-hero{
    position: relative;
    bottom: -60px;
}
/* section 1*/
input[type = radio].checkbox{
    margin-left: 50px;
}
.box{
    width: calc(100%/3);
    border: 1px solid black;
    margin-top: 40px;
}
.user{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
}
.info{
    padding: 30px 20px 50px 20px;
    width: 80%;
}
.info p,.info ul li{
    padding-top: 20px;
}
.button-info{
    width: 100%;
    padding: 50px 0px;
}
.size-button{
    padding: 0px 50px;
}
hr{
    width: 10%;
}
.checkmark{
    color: var(--color-button);
}
.box-team{
    border: 1px solid black;
    margin-top: 40px;
}
.info-team{
    width: 60%;
    padding: 20px;
}
.button-team{
    width: 30%;
    padding: 30px;
    text-align: end;
}
.info-team h3{
    padding-bottom: 10px;
}

/* section 2 */
.text-partner{
    width: 90%;
    padding: 40px 0px 0px 50px;
}
.partner-image img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.white-button{
    border: 1px solid var(--color-secondary-color);
    width: 40%;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

/* section 3 */
.operation{
    width: 30%;
    padding-bottom: 60px;
}
.operation h3{
    padding-bottom: 30px;
}
.operation img{
    width: 100%;
}
.wrap{
    flex-wrap: wrap;
}

/* section 5 */
.team-section{
    width: calc(100%/3);
    height: calc(100vw/3);
}
.size-logo{
    width: 50%;
    height: 50%;
    position: relative;
}
.size-logo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}
#designit{
    background-color: var(--color-square-1);
}
#asu{
    background-color: var(--color-square-2);
}
#uf{
    background-color: var(--color-square-3);
}
#topps{
    background-color: var(--color-square-4);
}
.declaration{
    background-color: var(--color-big-square);
    font-size: 0.9em;
    font-weight: 300;
    width: 100%;
    height: 100%;
}
.declaration img{
    width: 50%;
}
.declaration hr{
    margin: 40px 30px;
    width: 30%;
}
#w-bicycle{
    background-color: var(--color-square-5);
}
#hearst{
    background-color: var(--color-square-6);
}
#lonely-planet{
    background-color: var(--color-square-7);
}
#cco{
    background-color: var(--color-square-8);
}

/* section 6 */
.prova-gratis{
    padding: 100px 250px;
    background-color: var(--color-background-hero);
}
.prova-gratis h2{
    color: var(--color-text-color);
    width: 50%;
}
.prova-gratis a{
    width: 30%;
    text-align: center;
    padding: 10px;
    background-color: var(--color-primary-color);
}

/* section 7 */
details summary{
    padding: 30px;
    font-size: 1;
}
details p{
    padding: 5px 45px 15px;
}
.border-top{
    border-top: 1px solid black;
}
.border-bottom{
    border-bottom: 1px solid black;
}

/* footer */
footer{
    background-color: var(--color-secondary-color);
    color: var(--color-primary-color);
    padding-bottom: 30px;
}
.footer-section{
    width: calc(100%/5);
    padding-bottom: 20px;   
}
h4{
    font-size: 1.1em;
    padding-bottom: 15px;
}
.footer-section li{
    line-height: 30px;
    font-size: 0.8em;
}
#language{
    background-color: var(--color-secondary-color);
    color: white;
    border: none;
}

/* hover */
/* colori hover 
#4C8FFF light 
#0057E5 dark
*/
.dark:hover{
    background-color: #0057E5;
}
.light:hover{
    background-color:#4C8FFF;
}
.button-blue:hover i{
    padding-left: 10px;
}
.link-border:hover{
    opacity: 70%;
}
.white-button:hover i{
    padding-left: 10px;
    display: inline-block;
}
.white-button i{
    display: none;
}
.prova-gratis a:hover{
    background-color: var(--color-text-color);
    color: var(--color-primary-color);
}
.footer-section li:hover{
    text-decoration: underline;
}
#language:hover{
    text-decoration: underline;
}
.arrow:active{
    color: var(--color-background-hero);
}

/* drop down menu */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-button{
    background-color: var(--color-primary-color);
    padding: 25px;
}
.dropdown-button:hover{
    background-color: #F1EEE8;
}
.dropdown-menu{
    display: none;
    position: absolute;
    left: 0;
    width: 300px;
    padding: 15px 20px;
    text-align: justify;
    background-color: #F1EEE8;
    font-weight: 200;
}
.dropdown-menu li{
    line-height: 30px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    width: 600px;
}
.small-dropdown:hover .dropdown-menu{
    width: 350px;
}

/* login page */
